*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#fff ;
    background-image: url(https://wallpaperaccess.com/full/1567665.png);
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    font-family: "Open Sans";
    padding-top: 0px;
    color: #fff;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 5px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    color: aqua;
    font-weight: 200;
}